/Codigo/MaisServicos/.vs
/Codigo/MaisServicos/Core/obj
/Codigo/MaisServicos/Core/bin

Codigo/MaisServicos/MaisServicosWeb/obj/

Codigo/MaisServicos/Service/obj/

.vs/

Codigo/MaisServicos/Service/bin/

Codigo/MaisServicos/MaisServicosWeb/bin/
/Codigo/MaisServicos/MaisServicosWeb/bin
/Codigo/MaisServicos/Service/bin

AnaliseProjeto/projetoBancoDeDados.mwb.bak
