@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua senha?";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<div class="container row" style="margin-top:5%">
    <div class="col-md-4">
        <div class="d-flex justify-content-center h-100 box_forgotP">
            <div>
                <h1>@ViewData["Title"]</h1>
            </div>
            <h2>Entre com o seu email.</h2>
            <hr />
            <div class="row">
                <div style="width:400px">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="" style="width:400px">
                            <label asp-for="Input.Email" class="form-label">Seu email de acesso</label>
                            <div class="form-group">
                                <input asp-for="Input.Email" class="form-control input_form" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div style="margin-top:5%">
                                <button type="submit" class="w-100 btn btn-lg btn-primary">Resetar Senha</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
