@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a) ao +Serviços</h1>
    <p>Todos os serviços na palma da sua mão!</p>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar por um serviço..." aria-label="Search" aria-describedby="search-button">
                    <button class="btn btn-primary" type="button" id="search-button">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</div>
